addict
aiohttp
albumentations
bondpy
defusedxml
efficientnet_pytorch
einops
empy
eventlet
exceptiongroup
fastdownload
future
ipykernel
ipywidgets
kneed
lightning-bolts
lz4
munkres
netifaces
nose
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
nvitop
paramiko
pickleshare
pip
pybind11
pybind11-global
pycairo
pycocotools
pycryptodome
pycryptodomex
pydot
python-gnupg
pytorch-lightning-bolts
pytorch-pretrained-biggan
rasterio
timm
toml
tomli
torchaudio
wheel
yapf